<div>
{{#view Todos.TodosNewView}}
  <form>
    <div id="todo-create-input-wrap">
      {{createTodoInput groupName}}
    </div>
  </form>
{{/view}}
<ul id="todos">
{{#each uncompleted}}
  <li>
    {{#view Todos.TodosTodoView todoid=id}}
      {{todoCheckbox completed}}
      {{#view Todos.TodosStarView todoid=id}}{{/view}}
      {{#link-to "todo" this}}{{title}}{{/link-to}}
    {{/view}}
  </li>
{{/each}}
</ul>
<p class="todos-completed-count">{{completed.length}} Completed Items</p>
<ul id="todos-completed">
  {{#each completed}}
    <li>
      {{#view Todos.TodosTodoView todoid=id}}
        {{todoCheckbox completed}}
        {{#view Todos.TodosStarView todoid=id}}{{/view}}
        {{#link-to "todo" this}}{{title}}{{/link-to}}
      {{/view}}
    </li>
  {{/each}}
</ul>
{{outlet}}
</div>