<div>{{title}}</div>
<form {{action "submit" on="submit"}}>
  <div>{{input value=title}}</div>
  <div>
    {{textarea value=details}}
  </div>
  <div>
  {{group.name}}
  </div>
  <input type="submit" value="save">
</form>